:root {
  --orange: #D87D4A;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Manrope Variable', sans-serif;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  color: #FFF;
  font-size: 3.5rem;
  line-height: 3.625rem;
  letter-spacing: 0.125rem;
  margin-bottom: 2rem;
}

h6 {
  font-size: 1.125rem;
  letter-spacing: 0.08038rem;
}

p {
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  margin-bottom: 1rem;
}

.overline {
  font-size: 0.875rem;
  letter-spacing: 0.625rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

button {
  cursor: pointer;
  font-family: 'Manrope Variable', sans-serif;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  width: 10rem;
  height: 3rem;
  margin: 1rem 0;
}

button.orange {
  background: var(--orange);
  border: none;
  color: #FFF;
}

button.clear {
  color: #000;
  /* check color */
}

button.minimal {
  border: none;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
}

button.minimal span {
  color: var(--orange);
  font-size: 1.3rem;
  font-weight: 400;
  position: absolute;
  bottom: 11px;
  margin-left: 0.5rem;
}

#root {
  width: 100vw;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

/* Layout */

header {
  background-color: #0E0E0E;
  color: #fff;
  padding: 0 9rem;
}

.header-wrap {
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
}

nav {
  display: flex;
  gap: 2rem;
}

footer {
  background-color: #131313;
}

.footer-wrap {
  color: #fff;
  font-size: 0.9rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem 5rem;
  padding: 3rem 9rem;
  max-width: 1440px;
}

header a,
footer a {
  color: #fff;
  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

footer p {
  line-height: 1.5rem;
  opacity: 0.5;
}

footer nav {
  justify-self: end;
}

.social-icons {
  align-self: end;
  justify-self: end;
  display: flex;
  gap: 1rem;
  align-items: center;
}

/* Content area */

.outlet {
  max-width: 1440px;
  margin-bottom: 4rem;
}

.outlet>* {
  padding: 2rem 9rem;
}

/* Home page */

.hero-area {
  background: radial-gradient(transparent, #0E0E0E 75%), url("./src/assets/home/desktop/image-hero.jpg") center/cover;
  color: #fff;
  display: flex;
  align-items: center;
  height: 39rem;
}

.home-product-card {
  width: 25rem;
}

.hero-area h6 {
  opacity: 0.5;
}

.category-links {
  display: flex;
  gap: 2rem;
  padding: 6rem 0 0;
}

.category-link {
  position: relative;
  text-align: center;
  height: 18rem;
  width: 22rem;
}

.category-link img {
  height: 10rem;
  position: absolute;
  top: -4rem;
  right: 5rem;
}

.category-name {
  border-radius: 0.5rem;
  background: #F1F1F1;
  display: flex;
  flex-direction: column;
  height: 12.75rem;
  width: 22rem;
  justify-content: flex-end;
  align-items: center;
}

/* Shop page */

.product-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.product-card {
  width: 20rem;
  padding: 2rem 0;
}

.product-card img {
  width: 100%;
}

.product-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.product-page img {
  width: 30rem;
}

.quantity-wrap {
  display: flex;
  justify-content: center;
}

.item-quantity {
  border: 1px solid;
  padding: 0.8rem;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.quantity-button {
  padding: 0.8rem;
}

.cart-item img {
  width: 5rem;
}