* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Manrope Variable', sans-serif;
}

#root {
  width: 100vw;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

/* Layout */

header {
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  padding: 0 9rem;
}

nav {
  display: flex;
  gap: 2rem;
}

footer {
  background-color: #131313;
}

.footer-wrap {
  color: #fff;
  font-size: 0.9rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem 5rem;
  padding: 3rem 9rem;
  max-width: 1440px;
}

header a, footer a {
  color: #fff;
  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

footer p {
  line-height: 1.5rem;
  opacity: 0.5;
}

footer nav {
  justify-self: end;
}

.social-icons {
  align-self: end;
  justify-self: end;
  display: flex;
  gap: 1rem;
  align-items: center;
}

/* Content area */

.outlet {
  max-width: 1440px;
  margin-bottom: 4rem;
}

.outlet > * {
  padding: 2rem 9rem;
}

/* Home page */

.hero-area {
  background: url("./src/assets/home/desktop/image-hero.jpg") no-repeat center center;
  background-position: cover;
  height: 45rem;
}

.product-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.product-card {
  height: 25rem;
  width: 20rem;
  padding: 2rem 0;
}

.product-card img {
  width: 100%;
}

.product-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.product-page img {
  width: 30rem;
}

.quantity-wrap {
  display: flex;
  justify-content: center;
}

.item-quantity {
  border: 1px solid;
  padding: 0.8rem;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.quantity-button {
  padding: 0.8rem;
}

.cart-item img{
  width: 5rem;
}